<section class="Existing-Section">
  <div class="Existing-Section-Header">
    <h3 class="Existing-Section-Title">
      <%= section_title %>
    </h3>
    <p>
      <span class="completed"><%= todos.completed.count %></span> / <span class="total"><%= todos.count %></span>
    </p>
  </div>

  <div class="Existing-Section-Body">
    <ul class="Existing-Section-List">
      <% todos.count %>
      <% todos.each do |todo| %>
        <% if not(overdue and todo.completed) %>
        <li class="Existing-ListItem">
          
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
            <input class="Existing-List-CheckBox"
            name="completed"
            <%= todo.completed ? "checked" : "" %>
            type="checkbox"
            onclick="this.form.submit()"
            />
          <% end %>

          <p class="Existing-Todo-Text
            <% if todo.completed %>
              strike-through
            <% end %>
          "><%= todo.todo_text %></p>

          <% if show_due_date %>
            <p class="Existing-Todo-DueDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>

          <span class="Existing-Todo-Delete">
            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
              <input type="image" src="trash-can-outline.png" class="Delete-Todo" onclick="this.form.submit()">
            <% end %>
          </span>
        </li>
        <% end %>
      <% end %>

    </ul>
  </div>

</section>